<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view the post</title>
</head>
<body>
    <h1>showing the posts</h1>
    <h2>post id:<%=post.id %></h2>
    <div>
        <h3>username=<%=post.username%></h3>
        <h4><%=post.content%></h4>
    </div>
</body>
</html>